{% extends 'base.html' %}
{% load events_tags %}
{% load static %}

{% block extraHead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/timeline.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/admin_colors.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
	<script>
		function toggleDiv(id) {
			var div = document.getElementById(id);
			div.style.display = div.style.display == "block" ? "none" : "block";
		}
	</script>
{% endblock %}

{% block content %}

{% if message %}
  <div id="message">
    <h2>{{ message.title }}</h2>
    {{ message.message|linebreaks }}
  </div>
{% endif %}

<div id="add_event_form">
	<h2>Add an event</h2>
  <form action='{% url 'event#add' %}' name="add_event_form" method='POST'>
    {% csrf_token %}

		{{form.name}}
		{{form.date}}

		{{form.who}}
		{{form.function}}

		{{form.description}}

    <input type="submit" class="event_button" value="Shoot!"/>
  </form>
</div>

<div id="contribute" onclick="toggleDiv('add_event_form')">Contribute!</div>

<div id="timeline_container">
<ul class="timeline">
  {% for e in events %}
    {% timeline_event e forloop.counter0 %}
  {% empty %}
  <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Erff.... Looks empty here.</span>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}


{% block extraEOP %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript">
  var who_options = [ {% for o in who_options %}"{{ o|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %} ];
  var function_options = [ {% for o in function_options %}"{{ o|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %} ];

  $( function() {
    $( "#autocomp_who" ).autocomplete({
      source: who_options
    });
    $( "#autocomp_function" ).autocomplete({
      source: function_options
    });
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
</script>
{% endblock %}
