<li>
  <div class="direction-{% if n|divisibleby:2 %}l{% else %}r{% endif %}">
    <div class="flag-wrapper">
      <span class="flag">{{ event.name }}</span>
      <span class="time-wrapper"><span class="time">{{ event.date }}</span></span>
    </div>
    <div class="desc"> by {{event.who}} as {{ event.function_at_the_time }} </div>
    <div class="desc">
      {{ event.description|linebreaks }}
      <p class="score">
      <a href="{% url 'event#vote' event.id 'down' %}"><i class="fa fa-arrow-down red"></i></a>
      <a href="{% url 'event#vote' event.id 'up' %}"><i class="fa fa-arrow-up green"></i></a>
      {{ event.score }}
    </div>
  </div>
</li>

{# vim: set ft=htmldjango: #}
